.App {
  text-align: center;
}
 
body{
  background-color: rgb(94, 180, 238);
  background-image: url(../src/Assets/air-animal.jpg);
  background-position: center; 
  background-attachment: fixed;
  background-size: cover

}

input{
  width: 270px;
  height: 30px;
  padding: 0px 2px 0px 4px;
  margin-top: 5px;
  font-size: 26px;
  border-radius: 10px
  
}

button{
  width: 130px;
  height: 35px;
  margin-top: 5px;
  font-size: 20px
}
