/*
.regInput {
    text-transform: capitalize;
         }*/

  .textarea{
      margin-top: 5px;
      margin-left: 3%;
          }

  footer{
      color: white;
      display: block;
      margin-top: 5vh;
       }