/*
.regInput {
    text-transform: capitalize;
         }*/

  .textarea{
      margin-top: 5px;
      font-size: 24px;
      width: 270px;
          }

  footer{
      color: white;
      display: block;
      margin-top: 5vh;
       }