
.search{
    margin-left: 30%;
       }

.searchResult {
    background-color:#dcdcdc;
    border-radius: 5px;
    margin-bottom: 10px 
              }

.loginName {
    
    font-family: Arial, Helvetica, sans-serif;
    color:#3d2b1f;
    background-color: #faf0e6
    
    }

    h4{
        margin-bottom: 1px;
        margin-top: 1px
    }
/* for messages display*/
    .messages{
      background-color: beige;
      padding: 5px;
      margin: 1% 10% 2% 10%;
     border-radius: 5px;
      box-shadow: 4px 4px #636363 ;
             }
      .date{
        margin-left:50%; 
        margin-right:5%;
      }       

    @media screen and (max-width: 600px) {
        .search {
            margin-left: 1%;
            
        }
      }

      @media screen and (max-width: 600px) {
        .searchResult {
            margin-bottom: 70px;
            
            
        }
      }

      thead{
       background-color: #0000ff;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 4px;
      }

   /* .searchInput {
        text-transform: capitalize;
      }*/